.hero-button {
  background-repeat: no-repeat;
  background-position:
    left top,
    right top;
  background-size: contain;
  background-image: url('/icon/buttonFrame/mobileLeft.svg'),
    url('/icon/buttonFrame/mobileRight.svg');

  @media screen and (min-width: 768px) {
    background-image: url('/icon/buttonFrame/tabletLeft.svg'),
      url('/icon/buttonFrame/tabletRight.svg');
  }
  @media screen and (min-width: 1440px) {
    background-image: url('/icon/buttonFrame/desktopLeft.svg'),
      url('/icon/buttonFrame/desktopRight.svg');
  }
}
